p {
   font-size: 16px;
}
h5 {
   text-color: black;
   font-size: 24px;
}
.btn-link {
   padding-left: 0;
   padding-right: 0;
   border: 0;
   font-weight: $font-weight-bold;
}

.text-brand {
   font-family: $font-family-brand;
}

.tab-separator {
   border-left: 1px $gray-800 solid;
}

.tab-active {
   background-color: $gray-800;
}
.card {
   border: 0;
}
.card-body {
   color: $white;
   font-family: $font-family-serif;
   font-size: $font-size-base * 1.25;
}

.card.bg-primary {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}
.card.bg-secondary {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.background-image {
   background-image: url("../img/background-landing.jpg");
   background-size: cover;
   min-height: 100vh;
}

.logo-landing {
   background-image: url("/images/logo-landing.png");
}
.btn-group.btn {
   font-weight: $font-weight-normal;
}
textarea {
   width: 100%;
   background-color: transparent;

   /* https://stackoverflow.com/a/17110012 */
   border: none;
   overflow: auto;
   outline: none;

   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;

   resize: none;
}
// .card.bg-primary textarea {
//   background-color: $primary;
// }
.card textarea {
   color: $white;
}
.bg-success,
.bg-danger p.lead {
   color: $white;
}
.white-text {
   color: $white;
}
.hide-me[aria-expanded="true"] {
   display: none;
}
.landing-card {
   color: $black;
   font-family: $font-family-serif;
   padding: map-get($spacers, 0);
}
.disabled {
   pointer-events: fill !important;
   cursor: not-allowed;
}
